# Created by .ignore support plugin (hsz.mobi)

# ds stores
*.DS_Store

# intellij
*.idea/

# bin
*-e
/app/bootstrap.php.cache
/var/bootstrap.php.cache
/bin/*
!bin/wp.dist
!bin/install-amazon.sh
!bin/install-osx.sh
!bin/install-ubuntu.sh
!bin/install-rhel.sh
!bin/install-centos.sh
!bin/install.sh
!bin/install-wordpress.sh
!bin/run.sh.dist
!bin/stop.sh
!bin/stop-docker.sh.dist
!bin/run-docker.sh.dist
!bin/run_tests.sh
!bin/configure-osx.sh
!bin/configure-amazon.sh
!bin/configure-docker.sh
!bin/configure-ubuntu.sh
!bin/configure-centos.sh
!bin/configure-rhel.sh
!bin/get-unique-keys.sh
!bin/phpunit


# etc
etc/php/php.ini
etc/php/php-fpm.conf
etc/nginx/nginx.conf
etc/*.service
etc/*.conf
etc/init.d/*.sh
etc/*.plist
!etc/com.greathouse.technology.template.plist
!etc/wp-authentication-keys.template.php

# opt
opt/php/
opt/openresty/
opt/wordpress*

# cache and logs
error.log
var/
!var/cache/.gitkeep
!var/logs/.gitkeep
tmp/

# vendor
vendor/

# node
node_modules/

# supervisord
supervisord.log
supervisord.pid

# web
web/.buildpath
web/.cache
web/.metadata
web/.project
web/.settings
web/.vscode
web/atlassian*
web/nbproject
web/robots.txt
web/pub/robots.txt
web/sitemap
web/sitemap.xml
web/pub/sitemap
web/pub/sitemap.xml
web/.gitattributes
web/app/config_sandbox
web/app/etc/config.php
web/app/etc/env.php
web/app/code/Magento/TestModule*
web/lib/internal/flex/uploader/.actionScriptProperties
web/lib/internal/flex/uploader/.flexProperties
web/lib/internal/flex/uploader/.project
web/lib/internal/flex/uploader/.settings
web/lib/internal/flex/varien/.actionScriptProperties
web/lib/internal/flex/varien/.flexLibProperties
web/lib/internal/flex/varien/.project
web/lib/internal/flex/varien/.settings
web/node_modules
web/.grunt
web/Gruntfile.js
web/package.json
web/.php_cs
web/.php_cs.cache
web/grunt-config.json
web/pub/media/*.*
!web/pub/media/.htaccess
web/pub/media/attribute/*
!web/pub/media/attribute/.htaccess
web/pub/media/analytics/*
web/pub/media/catalog/*
!web/pub/media/catalog/.htaccess
web/pub/media/customer/*
!web/pub/media/customer/.htaccess
web/pub/media/downloadable/*
!web/pub/media/downloadable/.htaccess
web/pub/media/favicon/*
web/pub/media/import/*
!web/pub/media/import/.htaccess
web/pub/media/logo/*
web/pub/media/theme/*
web/pub/media/theme_customization/*
!web/pub/media/theme_customization/.htaccess
web/pub/media/wysiwyg/*
!web/pub/media/wysiwyg/.htaccess
web/pub/media/tmp/*
!web/pub/media/tmp/.htaccess
web/pub/media/captcha/*
web/pub/static/*
!web/pub/static/.htaccess

web/var/*
!web/var/.htaccess
web/vendor/*
!web/vendor/.htaccess
web/generated/*
!web/generated/.htaccess

